# Hierarquia de índices e índices múltiplos

In [7]:
import pandas as pd
import numpy as np

In [1]:
# Níveis de índice
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))

In [2]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1 -0.847416  0.023133
   2  1.413119  0.371706
   3 -0.552505 -1.349652
G2 1 -0.262168  1.669144
   2  2.946016  0.392487
   3 -1.234152 -1.162831

In [11]:
df.loc['G1'].loc[2]

A    1.413119
B    0.371706
Name: 2, dtype: float64

In [13]:
df.index.names = ['Grupo','Número']

In [14]:
df

                     A         B
Grupo Número
G1    1      -0.847416  0.023133
      2       1.413119  0.371706
      3      -0.552505 -1.349652
G2    1      -0.262168  1.669144
      2       2.946016  0.392487
      3      -1.234152 -1.162831

In [15]:
df.xs('G1')

               A         B
Número
1      -0.847416  0.023133
2       1.413119  0.371706
3      -0.552505 -1.349652

In [16]:
df.xs(1, level='Número')

              A         B
Grupo
G1    -0.847416  0.023133
G2    -0.262168  1.669144