## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [102]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [103]:
df1 = pd.read_csv('../projetos/analise-precos-gasolina/gasolina_2000+.csv', sep = ',', decimal = '.', index_col=0)

In [104]:
df1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [105]:
df2 = pd.read_csv('../projetos/analise-precos-gasolina/gasolina_2010+.csv', sep = ',', decimal = '.',index_col=0, low_memory=False)

In [106]:
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [107]:
df1.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [108]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  object
 1   DATA FINAL                     42638 non-null  object
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 6.2+ MB

In [109]:
df2.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024

In [110]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78185 entries, 9256 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   78185 non-null  object
 1   DATA FINAL                     78185 non-null  object
 2   REGIÃO                         78185 non-null  object
 3   ESTADO                         78185 non-null  object
 4   PRODUTO                        78185 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   78185 non-null  int64
 6   UNIDADE DE MEDIDA              78185 non-null  object
 7   PREÇO MÉDIO REVENDA            78185 non-null  float64
 8   DESVIO PADRÃO REVENDA          78185 non-null  float64
 9   PREÇO MÍNIMO REVENDA           78185 non-null  float64
 10  PREÇO MÁXIMO REVENDA           78185 non-null  float64
 11  MARGEM MÉDIA REVENDA           78185 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       78185 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       78185 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     78185 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      78185 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      78185 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  78185 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 11.3+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [111]:
type(df1['DATA INICIAL'].iloc[2])

str

In [112]:
type(df2['DATA INICIAL'].iloc[2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [113]:
df1['DATA INICIAL'] = pd.to_datetime(df1['DATA INICIAL'])
df1['DATA FINAL'] = pd.to_datetime(df1['DATA FINAL'])
df2['DATA INICIAL'] = pd.to_datetime(df2['DATA INICIAL'])
df2['DATA FINAL'] = pd.to_datetime(df2['DATA FINAL'])

In [114]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  datetime64[ns]
 1   DATA FINAL                     42638 non-null  datetime64[ns]
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 6.2+ MB

In [115]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78185 entries, 9256 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   78185 non-null  datetime64[ns]
 1   DATA FINAL                     78185 non-null  datetime64[ns]
 2   REGIÃO                         78185 non-null  object
 3   ESTADO                         78185 non-null  object
 4   PRODUTO                        78185 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   78185 non-null  int64
 6   UNIDADE DE MEDIDA              78185 non-null  object
 7   PREÇO MÉDIO REVENDA            78185 non-null  float64
 8   DESVIO PADRÃO REVENDA          78185 non-null  float64
 9   PREÇO MÍNIMO REVENDA           78185 non-null  float64
 10  PREÇO MÁXIMO REVENDA           78185 non-null  float64
 11  MARGEM MÉDIA REVENDA           78185 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       78185 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       78185 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     78185 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      78185 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      78185 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  78185 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 11.3+ MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [116]:
df1['ANO-MES'] = df1['DATA FINAL'].dt.strftime('%Y-%m')

In [117]:
df1.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05

In [118]:
df2['ANO-MES'] = df2['DATA FINAL'].dt.strftime('%Y-%m')

In [119]:
df2.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008,2011-01
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046,2011-01
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069,2011-01
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024,2011-01
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024,2011-01

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [120]:
df1['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM      9260
ÓLEO DIESEL         9260
ETANOL HIDRATADO    9256
GLP                 9256
GNV                 5606
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [130]:
gasolina_comum = pd.concat([df1[df1['PRODUTO'] == 'GASOLINA COMUM'], df2[df2['PRODUTO'] == 'GASOLINA COMUM']])

In [131]:
gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [132]:
filtro = gasolina_comum[gasolina_comum['ANO-MES'] == '2008-08']

filtro['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [133]:
filtro = gasolina_comum_[gasolina_comum_['ANO-MES'] == '2014-05']

filtro['PREÇO MÉDIO REVENDA'].mean()

3.030444444444444

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [136]:
filtro = gasolina_comum[gasolina_comum['PREÇO MÉDIO REVENDA'] > 5.00]

filtro['ESTADO'].unique()

array(['ACRE', 'RIO DE JANEIRO', 'TOCANTINS', 'RIO GRANDE DO NORTE',
       'DISTRITO FEDERAL', 'ALAGOAS', 'BAHIA', 'CEARA',
       'MATO GROSSO DO SUL', 'MINAS GERAIS', 'PARA', 'PIAUI',
       'RIO GRANDE DO SUL', 'AMAZONAS', 'ESPIRITO SANTO', 'GOIAS',
       'MARANHAO', 'PARAIBA', 'PERNAMBUCO', 'RONDONIA', 'SANTA CATARINA',
       'SERGIPE', 'MATO GROSSO', 'PARANA', 'RORAIMA', 'SAO PAULO'],
      dtype=object)

### 11. Qual a média de preço dos estados da região sul em 2012?

In [143]:
gasolina_comum.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23570 entries, 12064 to 120725
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   23570 non-null  datetime64[ns]
 1   DATA FINAL                     23570 non-null  datetime64[ns]
 2   REGIÃO                         23570 non-null  object
 3   ESTADO                         23570 non-null  object
 4   PRODUTO                        23570 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   23570 non-null  int64
 6   UNIDADE DE MEDIDA              23570 non-null  object
 7   PREÇO MÉDIO REVENDA            23570 non-null  float64
 8   DESVIO PADRÃO REVENDA          23570 non-null  float64
 9   PREÇO MÍNIMO REVENDA           23570 non-null  float64
 10  PREÇO MÁXIMO REVENDA           23570 non-null  float64
 11  MARGEM MÉDIA REVENDA           23570 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       23570 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       23570 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     23570 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      23570 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      23570 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  23570 non-null  object
 18  ANO-MES                        23570 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(11)
memory usage: 3.6+ MB

In [146]:

filtro = gasolina_comum[(gasolina_comum['REGIÃO'] == 'SUL') & (gasolina_comum['DATA FINAL'].dt.year == 2012)]

filtro['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [168]:
RJ = gasolina_comum[gasolina_comum['ESTADO'] == 'RIO DE JANEIRO']

In [177]:
filtro = RJ.groupby(RJ['DATA FINAL'].dt.year)['PREÇO MÉDIO REVENDA'].mean().sort_index()

In [174]:
filtro.pct_change() * 100

C:\Users\Filip\AppData\Local\Temp\ipykernel_36300\1168532131.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  filtro.pct_change() * 100

12086            NaN
12113            NaN
12140    -140.098039
12167     449.461312
12194      -9.578001
             ...
120003   -163.971438
120181    229.143073
120360   -109.623509
120538    510.196882
120717    -49.552118
Name: PREÇO MÉDIO REVENDA, Length: 873, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.